[Unit]
Description=Run Bizon-Tech API Update Service daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
